include /_includes/head

doctype html
html
  +header('404', 'themes/error')

  body
    .centered.glitch
      div(align='center')
        h1 404
        p.
          You&apos;re far away from #[a(href='/') home]. Go back or seek shelter.
