include /head.pug

- const t = 'caian.org&#x30D5;&#x30A1;&#x30A4;&#x30EB;&#x30EA;&#x30DD;&#x30B8;&#x30C8;&#x30EA;'

doctype html
html
  +header(t, 'autoindex')

  body
    .sugoi &#x30A4;&#x30F3;&#x30C7;&#x30C3;&#x30AF;&#x30B9; of <%= directoryLevel %>
    .box
      table#list(cellpadding='0.1em', cellspacing='0')
        colgroup
          col(width='5%')
          col(width='1%')
          col(width='60%')
          col(width='10%')
          col(width='34%')
        th(height='30px')
          a(href='#')
        th(height='30px')
          a(href='#')
        th(height='30px')
          a(href='#') &#x30D5;&#x30A1;&#x30A4;&#x30EB;&#x540D;
        th(height='30px')
          a(href='#') &#x30B5;&#x30A4;&#x30BA;
        th(height='30px')
          a(href='#') &#x6700;&#x7D42;&#x66F4;&#x65B0;&#x65E5;
        <% files.forEach((f, i) => { %>
        tr
          td(style='text-align: right')
            img.middle(src='/assets/imgs/autoindex/file.svg', height='16px', width='16px')
          td
          td
            a.wdel<%= (i % 3) + 1 %>s(href='<%= f.publicUrl %>')
              | <%= f.name %>
          td <%= f.size %>
          td <%= f.lastModified %>
        <% }) %>
        tr.sep
          td
          td
          td
          td
          td
        tr
          td
          td
          td(style='padding-top: 10px')
            a(href='/')
              img.middle(src='/assets/imgs/autoindex/left-arrow.png', height='16px', width='16px')
              |
              | Home&#x5BB6;&#x306B;&#x5E30;&#x308B;
          td
          td(style='padding-top: 10px; color: #fff')
            img.middle(src='/assets/imgs/autoindex/navi-16px.gif')
            |
            | Navi&#x3092;&#x642D;&#x8F09;
            |
            | @ copland
