extends /_layouts/90s
include /_includes/mixins/geo

block vars
  - const heading = 'crisis'
  - const isPost = true

block content
  p.
    I don&rsquo;t want to talk about it and you probably don&rsquo;t want to
    hear too. We know what&rsquo;s happening and it ain&rsquo;t good.
    It&rsquo;s been so long since the last time I spoke, I&rsquo;m almost
    forgetting how to do it.

  p.
    Plans and ideas all thrown in the garbage. I saw heroes becoming
    monsters. I saw people dying, and rebirthing, and then dying again.
    #[em I wish I could save them all, really]. Me, well, I&rsquo;m trying to
    collect myself and make sense out of this clusterfuck and truth be told,
    I&rsquo;m doing it.

  p.
    It&rsquo;s a bittersweet end, for sure. Most of it, as always for my
    desperation, out of my control.

  p
    br
    +img('t/greenskull.gif', '150px', '125px')
