extends /_layouts/90s
include /_includes/mixins/geo

block vars
  - const heading = 'home'

block content
  p
    a(href='https://hackerscurator.com')
      +img('hackercdad.gif')

  p.
    Welcome to my personal page on the World Wide Web! This website is still
    #[em under construction], so things can change!

  p
    +img('construction.gif', '250px', '75px')
    br

  h3 &ldquo;lay down all thoughts, surrender to the void&rdquo;
  +img('beatles.gif')

  p Don&rsquo;t forget to add this page to your favorites!
  +img('bookmark.gif')
