extends /_layouts/90s
include /_includes/mixins/geo

block vars
  - const heading = 'my photos'

block content
  +pic('waiting the food', 'me')
  +pic('a dope party', 'dope')
  +pic('sponsored by pmi', 'marlboro')
  +pic('man i sure love christmas', 'xmas')
  +pic('getting in touch with new tech', 'ms')
  +pic('i haven\'t seen the sea since 1999', 'sea')
  +pic('saw something on the internet and got disappointed', 'disappointed')
  +pic('man i sure love graduations', 'graduate')
  +pic('hmm delicious hamburgers', 'food')
  +pic('man i sure love sunny days', 'sun')
  +pic('uuuh parteeh', 'parteh')
  +pic('ffs', 'bored')
