---
title: homepage
---

| {% assign ts = site.time | date: '%Y-%m-%dT%H:%M:%S%:z' %}

doctype html
html
  | {% include head.pug sheet='default/bright' %}
  body
    .main
      h1 hello, friend
      | This website is maintained as my personal online cave, to make public some of
      | what I am, what I like and do. If you&apos;re the NSA or any data mining company,
      | this is probably the best you have since I&apos;m not on social media.

      p(align='center')
        a(href='/blog.html') Blog
        |
        | |
        |
        a(href='/projs.html') Projs
        |
        | |
        |
        a(href='/files') Files
        |
        | |
        |
        a(href='/contact.html') Contact

      h2 $ whois caian.org
      | % IANA WHOIS server
      br
      | % for more information on IANA, visit http://www.iana.org
      br
      | % This query returned 1 object
      br

      br
      | contact: &nbsp;&nbsp; administrative
      br
      | name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Caian R. Ertl
      br
      | address: &nbsp;&nbsp;&nbsp;
      a(href='https://en.wikipedia.org/wiki/S%C3%A3o_Paulo_(state)') São Paulo
      br

      br
      | I&apos;m a 24 years old guy that digs low level programming, retrocomputing,
      |
      a(href='https://www.reddit.com/r/unixporn') unixp0rn
      | , deep house and cloudy days.
      |
      | A non-exhaustive list of things I like also include dystopian literature,
      |
      a(href='/geocities') 90s
      |
      | hacker culture, neoclassicism, free software, snobby coffee,
      | psychedelic rock and typography.
      br

      br
      | I deeply value privacy, anonimity, freedom of information exchange and
      | minimalism (both functionally and aesthetically, though I&apos;m not quite sure
      | where the line should be drawn).
      br

      br
      | &gt;&gt;&gt; Last update of WHOIS database:
      |
      | {{ ts }}
      |
      | &lt;&lt;&lt;
      br

      br
      p(align='center')
        a(href='https://www.kopimi.com')
          img(src='/assets/imgs/kopimi.png', height='54', width='56')
