include /_includes/head

| {% assign all_tags = '' %}
| {% for t in site.tags %}
|   {% assign all_tags = all_tags | append: ' ' | append: t[0] %}
| {% endfor %}

doctype html
html
  +header('blog')

  body
    .main
      a(href='/') Back
      h1 Blog
      | {% if all_tags.size > 0 %}
      #all-blog-tags
        p.aleft
          | {% include tags.html tags=all_tags %}
        .aclear
      | {% endif %}
      ul
        | {% for p in site.categories.blog %}
        | {% assign d = p.date | date: '%Y-%m-%d' %}
        li
          span.lighter {{ d }}
          |
          | &nbsp;
          a(href='{{ p.url }}') {{ p.title }}
        | {% endfor %}
      hr
      a(href=_site.rss) Subscribe with RSS
