extends /_layouts/90s.pug

block vars
  - const heading = 'home'

block content
  p
    br
    a(href='https://hackerscurator.com')
      img(src='/assets/imgs/geocities/hackercdad.gif')
    br
    br
  p.
    Welcome to my personal page on the World Wide Web! This website is still
    #[em under construction], so things can change!
  p
    img(src='/assets/imgs/geocities/construction.gif', height='75px', width='240px')
    br
  h3 &ldquo;lay down all thoughts, surrender to the void&rdquo;
  p
    img(src='/assets/imgs/geocities/beatles.gif')
  p Don&rsquo;t forget to add this page to your favorites!
  p
    img(src='/assets/imgs/geocities/bookmark.gif')
