extends ../_layouts/90s.pug

block vars
  - const heading = 'music i like'

block content
  h2 classical
  ul
    li
      em Albinoni
      | ,
      |
      a(href='https://www.youtube.com/watch?v=_eLU5W1vc8Y') Adagio in G Minor
    li
      em Glass
      | ,
      |
      a(href='https://www.youtube.com/watch?v=rM2KLeoRBGo') Concerto for Violin No. 1
    li
      em Ravel
      | ,
      |
      a(href='https://www.youtube.com/watch?v=mhhkGyJ092E') Bolero
    li
      em Ravel
      | ,
      |
      a(href='https://www.youtube.com/watch?v=w0ObgSKBqTQ') Tzigane
    li
      em Schubert
      | ,
      |
      a(href='https://www.youtube.com/watch?v=otdayisyIiM') String Quartet No. 14
    li
      em Shostakovitch
      | ,
      |
      a(href='https://www.youtube.com/watch?v=41HIXtBElH4') String Quartet No. 8
    li
      em Shostakovitch
      | ,
      |
      a(href='https://www.youtube.com/watch?v=8HZVQyD9rsY') Concerto for Violin No. 1

  h2 electronic
  ul
    li
      em Aleksandir
      | ,
      |
      a(href='https://www.youtube.com/watch?v=OnW6rQ_z9Ug') Yamaha
    li
      em COMPUTER DATA
      | ,
      |
      a(href='https://www.youtube.com/watch?v=0zT_Mk7ZkyY') Schlafen
    li
      em Dj Boring
      | ,
      |
      a(href='https://www.youtube.com/watch?v=XO66x8zodFo') Love&rsquo;s a Crime
    li
      em Loods
      | ,
      |
      a(href='https://www.youtube.com/watch?v=R4Qlv-nwhy0') Every Time
    li
      em Sweely
      | ,
      |
      a(href='https://www.youtube.com/watch?v=2NG9h9yZYf8') Around
    li
      em Sweely
      | ,
      |
      a(href='https://www.youtube.com/watch?v=sg6-GaAKmUI') A Day in Malaysia
    li
      em Sweely
      | ,
      |
      a(href='https://www.youtube.com/watch?v=FgEQh2yGnMU') On The Run
    li
      em Parrish
      | ,
      |
      a(href='https://www.youtube.com/watch?v=L2aUMxR2tUo') Lost Angel

  h2 jake
  p he deserves a whole category, just for him
  ul
    li
      em Chudnow
      | ,
      |
      a(href='https://www.youtube.com/watch?v=CXQA9oJtK9c') Prelude to Shona
    li
      em Chudnow
      | ,
      |
      a(href='https://www.youtube.com/watch?v=WBAIyY9y3HM') Shona
    li
      em Chudnow
      | ,
      |
      a(href='https://www.youtube.com/watch?v=3QQS8fJqXoI') Olive
    li
      em Chudnow
      | ,
      |
      a(href='https://www.youtube.com/watch?v=6u_EWKVRoxc') Flan
    li
      em Chudnow
      | ,
      |
      a(href='https://www.youtube.com/watch?v=7lxZoh9-G_8') Keith
    li
      em Chudnow
      | ,
      |
      a(href='https://www.youtube.com/watch?v=PwrUR8LVcb4') Pressed Pennies
