extends /_layouts/90s.pug

block vars
  - const heading = 'nothing to see here'

block content
  h3 this page has been swallowed by the void!
  p
    img(src='/assets/imgs/geocities/void.gif')
  p.
    For the time being, nothing is here.
  p.
    Come back later or press #[em F5] vigorously.
