extends /90s.pug

block vars
  - const heading = 'my photos'

block content
  h4 waiting the food
  p
    img.wiggle(src='/assets/imgs/geocities/photos/me.gif')

  h4 a dope party
  p
    img.wiggle(src='/assets/imgs/geocities/photos/dope.gif')

  h4 sponsored by pmi
  p
    img.wiggle(src='/assets/imgs/geocities/photos/marlboro.gif')

  h4 man i sure love christmas
  p
    img.wiggle(src='/assets/imgs/geocities/photos/xmas.gif')

  h4 getting in touch with new tech
  p
    img.wiggle(src='/assets/imgs/geocities/photos/ms.gif')

  h4 i haven&rsquo;t seen the sea since 1999
  p
    img.wiggle(src='/assets/imgs/geocities/photos/sea.gif')

  h4 saw something on the internet and got disappointed
  p
    img.wiggle(src='/assets/imgs/geocities/photos/disappointed.gif')

  h4 man i sure love graduations
  p
    img.wiggle(src='/assets/imgs/geocities/photos/graduate.gif')

  h4 hmm delicious hamburgers
  p
    img.wiggle(src='/assets/imgs/geocities/photos/food.gif')

  h4 man i sure love sunny days
  p
    img.wiggle(src='/assets/imgs/geocities/photos/sun.gif')

  h4 uuuh parteeh
  p
    img.wiggle(src='/assets/imgs/geocities/photos/parteh.gif')

  h4 ffs
  p
    img.wiggle(src='/assets/imgs/geocities/photos/bored.gif')
