extends /_layouts/90s.pug

block vars
  - const heading = 'cool sites and links'

block content
  h2 neocities
  ul
    li
      a(href='https://whiterose.neocities.org/') The White Rose
    li
      a(href='https://xsb.neocities.org/') xsb
    li
      a(href='https://nightcity.neocities.org/') Night City
    li
      a(href='https://segfault.neocities.org/') segfault
    li
      a(href='https://kidmarscat.neocities.org/') KiD MarsCat
    li
      a(href='https://xiixiixii.xyz/') xiixiixii
    li
      a(href='https://newchapter.neocities.org/home.html') New Chapter
    li
      a(href='https://blackwings.neocities.org/index.html') Black Wings
    li
      a(href='https://andnow.neocities.org/') and now&mldr;
    li
      a(href='https://benharri.neocities.org/') Ben Harri&rsquo;s Website
    li
      a(href='https://vaporesources.neocities.org/') V A P O R E S O U R C E S
    li
      a(href='https://fuck.neocities.org/') fuck
