---
layout: default-bright
---

script.
  function changeTheme() {
    var c = '/assets/css'

    var theme = document.getElementById('theme')
    var syntax = document.getElementById('syntax')
    var changeTheme = document.getElementById('changeTheme')

    var dim = theme.href.endsWith('bright.css') ? 'dark' : 'bright'

    theme.href = [c, 'default', dim].join('/').concat('.css')
    syntax.href = [c, 'syntax', dim].join('/').concat('.css')
    changeTheme.innerHTML = (dim === 'bright' ? 'Dark' : 'Bright').concat(' theme')
  }

a(href='/blog') Back
|
| |
|
a#changeTheme(href='#', onclick='changeTheme()') Dark theme

h1 {{ page.title }}
p.header-date {{ page.date | date_to_long_string }}
| {{ content }}
| {% include post_footer.pug %}
