<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ .Site.Params.description }}">

  <link rel="icon" type="image/png" href="/imgs/favicon.ico">
  <link id="theme" rel="stylesheet" href="/css/themes/error.css">

  <title>404 | {{ .Site.Title }}</title>
</head>
<body>
  <div class="centered glitch">
    <div align="center">
      <h1>404</h1>
      <p>
        You're far away from <a href="/">home</a>. Go back or seek shelter.
      </p>
    </div>
  </div>
</body>
</html>
