| {% if include.title == '' or include.title == nil %}
|   {% assign s = '???' %}
| {% else %}
|   {% assign s = include.title %}
| {% endif %}

| {% assign title = site.title | append: ' | ' | append: s %}
| {% assign feed = '/feed.xml' | prepend: site.url %}

head
  | {% seo title=false %}

  meta(name='viewport', content='width=device-width, initial-scale=1')

  | {% if include.sheet != null %}
  link#theme(rel='stylesheet', href='/assets/css/{{ include.sheet }}.css')
  | {% endif %}

  | {% if include.isPost %}
  link#syntax(rel='stylesheet', href='/assets/css/syntax/bright.css')
  | {% endif %}

  link(rel='icon', type='image/png', href='/favicon.ico')
  link(rel='alternate', type='application/rss+xml', title='{{ site.title }}', href='{{ feed }}')
  title {{ title }}
