include /_includes/head
include /_includes/mixins/geo

block vars

doctype html
html
  +header(null, 'themes/90s')

  body
    .wrapperp
      .cont
        .custom
          h1 #{ heading }

        div(align='center')
          if isPost
            br
            a(href='/geo/thoughts/')
              +img('back.gif')

          br
          block content
    .wrappersi
      .sidebar
        p
          +img('menu.gif')
          br
          br
        .menu
          p
            a(href='/geo/') home
          p
            a(href='/geo/thoughts/') shower thoughts
          p
            a(href='/geo/photos.html') my photos
          p
            a(href='/geo/music.html') music i like
          p
            a(href='/geo/sites.html') cool sites and links
          p
            a(href='/') the begin
    .footer
      marquee
        | The Aneristic Principle is that of apparent order; the Eristic Principle is that of apparent disorder. Both
        | order and disorder are man made concepts and are artificial divisions of pure chaos, which is a level deeper
        | than is the level of distinction making. It is only the ideas-about-reality which differ. Real (capital-T) True
        | reality is a level deeper than is the level of concept. We look at the world through windows on which have been
        | drawn grids (concepts). Different philosophies use different grids. A culture is a group of people with rather
        | similar grids. Through a window we view chaos, and relate it to the points on our grid, and thereby understand
        | it. The order is in the grid. That is the Aneristic Principle. Disorder is simply unrelated information viewed
        | through some particular grid. But, like &quot;relation&quot;, no-relation is a concept. Male, like female, is an idea
        | about sex. To say that male-ness is &quot;absence of female-ness&quot;, or vice versa, is a matter of definition and
        | metaphysically arbitrary. The artificial concept of no-relation is the Eristic Principle. The belief that &quot;order
        | is true&quot; and disorder is false or somehow wrong, is the Aneristic Illusion. To say the same of disorder, is the
        | Eristic Illusion. The point is that (little-t) truth is a matter of definition relative to the grid one is using
        | at the moment, and that (capital-T) Truth, metaphysical reality, is irrelevant to grids entirely. Pick a grid,
        | and through it some chaos appears ordered and some appears disordered. Pick another grid, and the same chaos
        | will appear differently ordered and disordered. Reality is the original Rorschach.
      br

      div(align='center')
        a(href='https://spyware.neocities.org')
          +img('privacy.gif')

        a(href='https://digdeeper.neocities.org')
          +img('nocookie.gif')

        +img('ie.gif')

        a(href='https://ssd.eff.org')
          +img('aol.gif')

        +img('hicolor.gif')

        a(href='https://neovim.io')
          +img('notepad.gif')

        a(href='https://conficturaindustries.com')
          +img('aponow.gif')

        a(href='https://stanleyparable.com')
          +img('deep.gif')

        +img('hc.gif')
