| {% assign post_tags = page.tags | join: ' ' %}
| {% assign time = content | reading_time %}

| {% if time == 0 %}
|
| {% assign time = 1 %}
| {% endif %}
| {% assign time = time | pluralize: 'min' %}

doctype html
html
  | {% include head.html sheet='default/bright' %}
  body
    .main
      a(href='/blog') Back
      |
      | |
      |
      a#change-theme(href='#', onclick='changeTheme()') Dark theme

      h1 {{ page.title }}
      #meta
        p.aleft
          | {% include tags.html tags=post_tags %}
        p.aright
          | ~{{ time }} read
          |
          | |
          |
          | {{ page.date | date_to_long_string }}
        .aclear
      | {{ content }}
      hr
      footer
        a(href='/') Home
        |
        | |
        |
        a(href='/feed.xml') Subscribe with RSS

      script.
        function changeTheme() {
          var c = "/assets/css";

          var theme = document.getElementById("theme");
          var syntax = document.getElementById("syntax");
          var changeTheme = document.getElementById("change-theme");

          var dim = theme.href.endsWith("bright.css") ? "dark" : "bright";

          theme.href = [c, "default", dim].join("/").concat(".css");
          syntax.href = [c, "syntax", dim].join("/").concat(".css");
          changeTheme.innerHTML = (dim === "bright" ? "Dark" : "Bright").concat(" theme");
        }
