include /_includes/head

| {% assign read_time = content | reading_time %}

| {% if read_time == 0 %}
|   {% assign read_time = 1 %}
| {% endif %}

| {% assign read_time = read_time | pluralize: 'min' %}
| {% assign post_tags = page.tags | join: ' ' %}
| {% assign publish_date = page.date | date: '%Y-%m-%d' %}

doctype html
html
  +header('blog', 'themes/main/bright', true)

  body
    .main
      a(href='/blog') Back
      |
      | |
      |
      a#change-theme(href='#', onclick='changeTheme()') Dark theme

      h1 {{ page.title }}
      #meta
        p.aleft
          | {% include tags.html tags=post_tags %}
        p.aright
          span.lighter
            | ~{{ read_time }} read
            |
            | &nbsp;
            | {{ publish_date }}
        .aclear
      | {{ content }}
      hr
      footer.
        #[a(href='/') Home] | #[a(href=_site.rss) Subscribe with RSS]

  script(type='text/javascript', src='/assets/js/change-theme.js')
