extends /_layouts/90s
include /_includes/mixins/geo

block vars
  - const heading = 'hey there'
  - const isPost = true

block content
  p.
    It&rsquo;s official: I have a grand total of #[em ZERO] accounts on social
    media right now. Linkedin was the last one and I&rsquo;m glad I did it.

  p.
    I&rsquo;ve cleared most of my presence online but I don&rsquo;t want to hide
    myself. This whole website has the bold goal of being, at the same time,
    the equivalent of twitter, instagram, last.fm and whatnot.

  p.
    I&rsquo;ll not-so-regularly post some photos, thoughts of mine and stuff I&rsquo;m
    consuming. It could be a piece of music or a crazy site I&rsquo;ve found on
    neocities. Pray for me so I don&rsquo;t give up after three months.

  p
    br
    +img('t/galaxy.gif', '252px', '148px')
