extends /_layouts/90s
include /_includes/mixins/geo

block vars
  - const heading = 'some independence'
  - const isPost = true

block content
  p.
    I&rsquo;ve been wanting and waiting to move out since I&rsquo;m 18. Five
    years forward, I finally have the resources (and the maturity) to do so.

  p.
    Finding a nice, well located apartment hasn&rsquo;t been the easiest task
    so far. The prices are high and God knows how awful some places are. Either
    bad neighborhoods or straight up dirty and non-ventilated places that
    certainly are health hazards.

  p.
    #[em I&rsquo;m moving alone.] I suppose something like 40m2 are enough for
    me and the half dozen of my belongs. If everything goes accordingly, by the
    end of this semester I&rsquo;ll have my own place.

  p
    br
    +img('t/money_flying.gif', '150px', '150px')
