extends /_layouts/90s
include /_includes/mixins/geo

block vars
  - const heading = 'priorities'
  - const isPost = true

block content
  p.
    &ldquo;you should enjoy your life now before it&rsquo;s too late&rdquo;,
    said every boomer ever to me. &ldquo;you should focus on your studies and
    work hard now, think about the future!&rdquo; also said by every boomer
    ever to me.

  p.
    #[em One should pick priorities.] I don&rsquo;t believe these things are
    mutually exclusive, but you cannot properly have both at the same time.

  p.
    Where the line should be drawn? I don&rsquo;t know and I try not to
    invest much thought on it. Life by itself is stressing already and worrying
    whether I&rsquo;m having &ldquo;enough fun&rdquo; is a free call for more anxiety.

  p
    br
    +img('t/computer.gif', '150px', '150px')
