extends /_layouts/90s
include /_includes/mixins/geo

block vars
  - const heading = 'dependency'
  - const isPost = true

block content
  p.
    I wish someone had taught me that lesson about not putting all the eggs in
    one basket earlier in life. This is true in many senses, but specially when
    it comes to emotions and finances.
  p.
    One cannot truly appreciate and understand the wisdom of others until the
    pain that comes from learning about reality kicks you in the face. Pain
    always precedes learning.
  p.
    The human experience is cyclical and you can see all kinds of people making
    the same mistakes over and over again. #[em Life without guarantees is scary],
    but I suppose that&rsquo;s the burden of abandoning childhood.

  p
    br
    +img('t/jailbird.gif')
