extends /_layouts/90s

block vars
  - const heading = 'shower thoughts'

block content
  br
  +img('thinker.gif')

  p
    ul
      each t in _data.thoughts
        li.
          #[em #{ t.date }], #[a(href=`${t.url}`) #{ t.title }]
