---
title: caian.org&#x30D5;&#x30A1;&#x30A4;&#x30EB;&#x30EA;&#x30DD;&#x30B8;&#x30C8;&#x30EA;
---

doctype html
html
  | {% include head.pug sheet="autoindex" %}
  body
    .sugoi &#x30A4;&#x30F3;&#x30C7;&#x30C3;&#x30AF;&#x30B9; of /
    .box
      table#list(cellpadding='0.1em' cellspacing='0')
        colgroup
          col(width='5%')
          col(width='1%')
          col(width='60%')
          col(width='10%')
          col(width='34%')
        th(height='30px')
          a(href='#')
        th(height='30px')
          a(href='#')
        th(height='30px')
          a(href='#') &#x30D5;&#x30A1;&#x30A4;&#x30EB;&#x540D;
        th(height='30px')
          a(href='#') &#x30B5;&#x30A4;&#x30BA;
        th(height='30px')
          a(href='#') &#x6700;&#x7D42;&#x66F4;&#x65B0;&#x65E5;
        tr
          td(style='text-align:right')
            img.middle(src='assets/imgs/autoindex/dir.svg' height='16px' width='16px')
          td
          td
            a.wdel1s(href='autoindex')
              | autoindex
          td  -
          td October 24, 2021 21:50
        tr
          td(style='text-align:right')
            img.middle(src='assets/imgs/autoindex/dir.svg' height='16px' width='16px')
          td
          td
            a.wdel2s(href='geocities')
              | geocities
          td  -
          td October 24, 2021 21:50
        tr
          td(style='text-align:right')
            img.middle(src='assets/imgs/autoindex/file.svg' height='16px' width='16px')
          td
          td
            a.wdel3s(href='boxes.gif')
              | boxes.gif
          td  110.31 kB
          td October 24, 2021 21:50
        tr
          td(style='text-align:right')
            img.middle(src='assets/imgs/autoindex/file.svg' height='16px' width='16px')
          td
          td
            a.wdel1s(href='kopimi.png')
              | kopimi.png
          td  32.81 kB
          td October 24, 2021 21:50
        tr
          td(style='text-align:right')
            img.middle(src='assets/imgs/autoindex/file.svg' height='16px' width='16px')
          td
          td
            a.wdel2s(href='style.css')
              | style.css
          td  1.79 kB
          td October 24, 2021 23:12
        tr
          td(style='text-align:right')
            img.middle(src='assets/imgs/autoindex/file.svg' height='16px' width='16px')
          td
          td
            a.wdel3s(href='venus_left.png')
              | venus_left.png
          td  122.34 kB
          td October 24, 2021 21:50
        tr
          td(style='text-align:right')
            img.middle(src='assets/imgs/autoindex/file.svg' height='16px' width='16px')
          td
          td
            a.wdel1s(href='venus_right.png')
              | venus_right.png
          td  122.20 kB
          td October 24, 2021 21:50
        tr.sep
          td
          td
          td
          td
          td
        tr(padding='')
          td
          td
          td
          td
          td(style='padding-top:10px; color:#fff')
            img.middle(src='assets/imgs/autoindex/navi_16px.gif')
            |           Navi&#x3092;&#x642D;&#x8F09; | nginx 1.8 @ copland
