extends /_layouts/90s.pug

mixin yt(id, artist, title)
  li.
    #[em #{ artist }], #[a(href=`https://www.youtube.com/watch?v=${id}`) #{ title }]

block vars
  - const heading = 'music i like'

block content
  h2 classical
  ul
    +yt('_eLU5W1vc8Y', 'Albinoni', 'Adagio in G Minor')
    +yt('rM2KLeoRBGo', 'Glass', 'Concerto for Violin No. 1')
    +yt('mhhkGyJ092E', 'Ravel', 'Bolero')
    +yt('w0ObgSKBqTQ', 'Ravel', 'Tzigane')
    +yt('otdayisyIiM', 'Schubert', 'String Quartet No. 14')
    +yt('41HIXtBElH4', 'Shostakovitch', 'String Quartet No. 8')
    +yt('8HZVQyD9rsY', 'Shostakovitch', 'Concerto for Violin No. 1')

  h2 electronic
  ul
    +yt('OnW6rQ_z9Ug', 'Aleksandir', 'Yamaha')
    +yt('0zT_Mk7ZkyY', 'COMPUTER DATA', 'Schlafen')
    +yt('XO66x8zodFo', 'Dj Boring', 'Love\'s a Crime')
    +yt('R4Qlv-nwhy0', 'Loods', 'Every Time')
    +yt('2NG9h9yZYf8', 'Sweely', 'Around')
    +yt('sg6-GaAKmUI', 'Sweely', 'A Day in Malaysia')
    +yt('FgEQh2yGnMU', 'Sweely', 'On The Run')
    +yt('L2aUMxR2tUo', 'Parrish', 'Lost Angel')

  h2 jake
  ul
    +yt('CXQA9oJtK9c', 'Chudnow', 'Prelude to Shona')
    +yt('WBAIyY9y3HM', 'Chudnow', 'Shona')
    +yt('3QQS8fJqXoI', 'Chudnow', 'Olive')
    +yt('6u_EWKVRoxc', 'Chudnow', 'Flan')
    +yt('7lxZoh9-G_8', 'Chudnow', 'Keith')
    +yt('PwrUR8LVcb4', 'Chudnow', 'Pressed Pennies')
