extends /_layouts/90s
include /_includes/mixins/geo

block vars
  - const heading = 'nothing to see here'

block content
  h3 this page has been swallowed by the void!

  p
    +img('void.gif')

  p.
    For the time being, nothing is here.

  p.
    Come back later or press #[em F5] vigorously.
