extends /_layouts/90s
include /_includes/mixins/geo

block vars
  - const heading = 'cool sites and links'

block content
  +category-list-hint('pc.gif', '200px', '150px')
  +category('neocities')
  div
    ul
      +site('whiterose.neocities.org', 'The White Rose')
      +site('xsb.neocities.org', 'xsb')
      +site('nightcity.neocities.org', 'Night City')
      +site('segfault.neocities.org', 'segfault')
      +site('kidmarscat.neocities.org', 'KiD MarsCat')
      +site('xiixiixii.xyz', 'xiixiixii')
      +site('newchapter.neocities.org/home.html', 'New Chapter')
      +site('blackwings.neocities.org/index.html', 'Black Wings')
      +site('andnow.neocities.org', 'and now...')
      +site('benharri.neocities.org', 'Ben Harri\'s Website')
      +site('vaporesources.neocities.org', 'V A P O R E S O U R C E S')
      +site('fuck.neocities.org', 'fuck')
