---
---

body {
  background: #000 url('/geocities/assets/imgs/background.gif');
  background-repeat: repeat;
  background-attachment: fixed;
  color: #000;
  font-size: 17px;
}

ul li {
  background-image: url('/geocities/assets/imgs/point.gif');
  background-repeat: no-repeat;
  line-height: 10px;
  padding-left: 65px;
  padding-bottom: 20px;
}

li {
  list-style-type: none;
  text-align: left;
}

a {
  color: #ff00df;
  font-weight: bold;
  text-shadow: 0 0 3px #000000;
  text-decoration: none;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

a:hover {
  color: #00fff8;
  text-shadow: 0 0 2px #000000, 0 0 2px #000000,0 1px 0 #ff00df, 0 2px 0 #ff00df, 0 3px 0 #ff00df, 0 4px 0 #ff00df, 0 5px 0 #ff00df, 0 6px 0 #ff00df;
}

.custom h1 {
  text-align: center;
  color: #ff00df;
  background: #000 url('/geocities/assets/imgs/space.gif');
  margin: auto;
  text-shadow: 1px 1px 3px #000;
}

.custom h1:hover {
  text-align: center;
  color: #00fff8;
  margin: auto;
  text-shadow: 1px 1px 7px #00fff8;
  -o-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
}

strong { color: #00fff8; }
em { color: #fff400; }
u { text-decoration: underline; }

.menu a {
  color: #ff00df;
  padding: 4px;
  border-top:    2px solid #0c02ff;
  border-left:   2px solid #0c02ff;
  border-bottom: 2px solid #0800af;
  border-right:  2px solid #0800af;
  background: #000;
  text-decoration: none;
  transition-duration: .0s;
  -webkit-transition-duration: .0s;
  -moz-transition-duration: .0s;
  -o-transition-duration: .0s;
  text-shadow: -1px 0  transparent, 0 1px  transparent, 1px 0  transparent, 0 -1px  transparent;
}

.menu a:hover {
  color: #00fdff;
  background: #ff00df;
  border-top:    4px double #00fdff;
  border-left:   4px double #00fdff;
  border-bottom: 4px double #00fdff;
  border-right:  4px double #00fdff;
  letter-spacing: 2px;
  text-shadow: -1px 0  transparent, 0 1px  transparent, 1px 0  transparent, 0 -1px  transparent;
}


/* POSTS BOX */
.wrapperp {
  background-color: #000;
  background-image: url('/geocities/assets/imgs/constellation.png');
  background-repeat: repeat;
  background-attachment: fixed;
  width: 550px;
  margin-top: 70px;
  margin-left: 260px;
  height: 600px;
  padding: 10px;
  position: absolute;
  border-top:    4px double #0c02ff;
  border-left:   4px double #0c02ff;
  border-bottom: 4px double #0800af;
  border-right:  4px double #0800af;
}

.cont {
  color: #fff;
  background-color: #000;
  border: dashed 0px #000;
  margin: 15px 15px 15px 15px;
  position: absolute;
  width: 520px;
  height: 570px;
  overflow: visible;
  overflow-y: scroll;
}

/* SIDEBAR BOX */
.wrappersi {
  background-color: #000;
  background-image: url('/geocities/assets/imgs/constellation.png');
  background-repeat: repeat;
  background-attachment: fixed;
  width: 300px;
  margin-top: 70px;
  margin-left: 850px;
  height: 620px;
  border-top:    4px double #0c02ff;
  border-left:   4px double #0c02ff;
  border-bottom: 4px double #0800af;
  border-right:  4px double #0800af;
  position: absolute;
}

.sidebar {
  color: #fff;
  text-align: center;
  background-color: #000;
  margin: 15px 15px 15px 15px;
  width: 270px;
  height: 590px;
  position: absolute;
  overflow: visible;
}

/* FOOTER */
.footer {
  width: 884px;
  color: #fff;
  height: auto;
  background-color: #000;
  margin-top: 710px;
  margin-left: 260px;
  position: absolute;
  border-top:    4px double #0c02ff;
  border-left:   4px double #0c02ff;
  border-bottom: 4px double #0800af;
  border-right:  4px double #0800af;
  padding: 3px;
}

@keyframes shake {
  0%   { transform: translate(1px, 1px)   rotate(0deg); }
  10%  { transform: translate(-1px, -2px) rotate(-1deg); }
  20%  { transform: translate(-3px, 0px)  rotate(1deg); }
  30%  { transform: translate(3px, 2px)   rotate(0deg); }
  40%  { transform: translate(1px, -1px)  rotate(1deg); }
  50%  { transform: translate(-1px, 2px)  rotate(-1deg); }
  60%  { transform: translate(-3px, 1px)  rotate(0deg); }
  70%  { transform: translate(3px, 1px)   rotate(-1deg); }
  80%  { transform: translate(-1px, -1px) rotate(1deg); }
  90%  { transform: translate(1px, 2px)   rotate(0deg); }
  100% { transform: translate(1px, -2px)  rotate(-1deg); }
}

.wiggle:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
